*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    overflow-y: auto;
}

body, html {
    position: relative;
    height: 100%;
    background-color: #eff5f9   ;
    
}
header{
    position: absolute;
    left: 49.5%;
    font-size: 13px;
    top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #3D3935;
}
.principal{
    height: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.independiente{
    margin: 8px;
    border: 2px;
    padding: 8px 16px;
    text-align: center;
}

.title-pag2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 16px 0;
    letter-spacing: 1px;
}

.photos{
    width: 100%;
    display: flex;
}

.part1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.part2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.foto-pag2{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.btn {
    border: none;
    position: relative;
    transition: transform 0.4s , box-shadow 0.4s ease-out;
    background-color: #eff5f9   ;
    font-size: 18px;
}

.btn:hover {
    transform: translateY(-10px);
    will-change: box-shadow, transform;
    background:#F5F9FB;
}

@media screen and (max-width: 960px) {
    .part1{
        flex-direction: column;
    }
    .part2{
        flex-direction: column;
    }

    .independiente{
        display: flex;
        align-items: center ;
        flex-direction: row;
    }

    .title-pag2{
        text-align: center;
    }

    .foto-pag2{
        width: 80px;
        height: 80px;
    }
    .photos{
        margin-top: 10px;
    }
}
@media screen and (max-width: 679px) {
    .title-pag2{
        font-size: 20px;
    }
    .photos{
        flex-direction: column;
    }
    .title-pag2{
        text-align: center;
    }
}