*{
    margin: 0;
    padding: 0;
    color: #fffdfc;
}

body{
    height: 100%;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}

body, html {
    position: relative;
    height: 100%;
    background-color: rgb(61, 57, 53);  ;
    
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 20px;
    color: #fffdfc;
    z-index: 1;
}

.anterior{
    text-decoration: none;
    font-size: 18px;
    border: none;
    background:transparent  ;
    color: #fffdfc;
}

.principal{
    height: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.independiente{
    margin: 8px;
    border: 2px;
    padding: 8px 16px;
    text-align: center;
}


.title-pag5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 20px 0;
    letter-spacing: 1px;
    color: #fffdfc;
}

.anterior{
    padding: 20px;
}

h3{
    padding: 20px;
}

.acumulado{
    padding: 20px;
    padding-right: 56px;
}

.photos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}



.foto-pag2{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.btn {
    border: none;
    position: relative;
    transition: transform 0.4s , box-shadow 0.4s ease-out;
    background-color: rgb(61, 57, 53);   ;
    font-size: 18px;
    width: 100%;
}

.btn:hover {
    transform: translateY(-10px);
    will-change: box-shadow, transform;
    background-color: rgb(61, 57, 53);
}

@media screen and (max-width: 960px) {
    
    

    .independiente{
        display: flex;
        align-items: center ;
        flex-direction: column;
    }

    .title-pag5{
        text-align: center;
    }

    .foto-pag5{
        width: 80px;
        height: 80px;
    }
    .photos{
        margin-top: 10px;
        flex-direction: row;
    }

    .part2{
        position: absolute;
        bottom: 50px;
    }
}
@media screen and (max-width: 679px) {
    .title-pag5{
        font-size: 20px;
    }
    .photos{
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .independiente{
        width: 100%;
        flex-direction: row;
    }
    .title-pag5{
        text-align: center;
    }
    .part2{
        position: relative;
        bottom: 0px;
    }
    
    header{
        top: 0;
    }
}