*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}
button {
    margin-left: 2vw;
    background-color: rgb(61, 57, 53);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 136%;
    position: absolute;
    top: 2.5%;
}

html {
    position: relative;
    height: 100%;
    background-color: rgb(61, 57, 53);
    overflow-y: hidden;
}
.paginas{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-align: center;
}
.principal{
    height: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.independiente{
    text-align: center;
    padding-left: 5vw;
}

.title-pag2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 194%;
    margin: 15px 0;
    padding-bottom: 3%;
    color: aliceblue;
}

.photos{
    width: 100%;
    display: flex;
    
}

.part1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: aliceblue;
    font-size: 118%;

}
.part2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: aliceblue;
    font-size: 108%;
}


.foto-pag2{
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 960px) {
    .part1{
        flex-direction: column;
    }
    .part2{
        flex-direction: column;
    }

    .independiente{
        display: flex;
        align-items: center ;
        flex-direction: row;
    }

    .foto-pag2{
        width: 80px;
        height: 80px;
    }
    .photos{
        margin-top: 10px;
    }
    p{
        margin-left: 8%;
    }
}
@media screen and (max-width: 679px) {
    .title-pag2{
        font-size: 20px;
    }
    .photos{
        flex-direction: column;
    }

}