*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
    font-family: Arial, Helvetica, sans-serif;
>>>>>>> 70e8713f801f693d6d158ebaf4c5129452738d13
}

body{
    height: 100%;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    overflow-y: auto;
}

body, html {
    position: relative;
    height: 100%;
    background-color: #3d3935 ;
    color: #fff;

<<<<<<< HEAD
}
=======
}
>>>>>>> 70e8713f801f693d6d158ebaf4c5129452738d13
